<a href ='/'>GO BACK</a><br><br>
You have search employee : <%=@employee['id']%><br>
Name: <%=@employee['name']%><br>
Department: <%=@employee['department']%><br>
Title: <%=@employee['title']%><br>
Manager ID: <%=@employee['manager_id']%><br><br>

<hr>
<%if @results.length > 0%>
  <%@results.each do |question|%>
    Question ID: <%=question[:question_id]%><br>
    Average Score: <%=question[:average_score]%><br>
    <br>
  <%end%>
<%else%>
<h3>No feedback has been given for this employee</h5>
<%end%>
